<%- include('includes/head')%>
</head>
<body>
<%- include('includes/nav')%>
    <div class="container ">
        <h1 class="border border-danger text-danger ">
            Error!! Page Not Found

        </h1>
    </div>
<%- include('includes/footer')%>
<%- include('includes/end')%>