*{
    font-family: 'Lobster', cursive;

}
#search{
    width: 100%;
    padding: .275rem 0.75rem;
}
.text-nav{
    color: #dae0e5 !important;
}
.active{
    font-size: 1.1rem;
    color: white !important;
    /* margin-top: 2px; */
    justify-items: center;
    align-items: center;
}

nav{
    /* background-color: blue !important; */
    height: 4rem;
}


footer{
    height:2rem;
}
#errMsg{
    font-size: 1rem !important;
    width: 20%;
}


.w-100{
    width: 100%;
    
}
.h-100{
    height: 100%;
}