<%- include('../includes/head')%>
</head>
<body>
<%- include('../includes/nav')%>
    <div class="container ">
        <h1 class="border border-secondary bg-secondary ">
            Contact

        </h1>
    </div>
<%- include('../includes/footer')%>
<%- include('../includes/end')%>