<%- include('../includes/head')%>
<link rel="stylesheet" href="../../public/css/home.css">
</head>

<body>
    <%- include('../includes/nav')%>
    <div class="container main bg-pic">
        <div class="main mainhead">
            <h1>
                Welcome to My Site
    
            </h1>
            <h3 class='maintitle'>
                View All Sites By Me
            </h3>

        </div>
    </div>
        <div class="container card d-flex flex-row align-items-center justify-content-center" style="margin-bottom: 3rem;">
            <form action="/addSite" method="post"class='d-flex flex-column align-items-center justify-content-center'>
                <label for="title">Enter Title </label>
                <input class='form-control  mr-sm-2' type="text" placeholder="Email" name="title" id="title">
                <label for="discription">Enter Discription</label>
                <input class='form-control  mr-sm-2' type="text" name="discription" placeholder="Discription" id="discription">
                <label for="link">Enter Link</label>
                <input class='form-control  mr-sm-2' type="text" name="link" placeholder='Link' id="link">
                <button class='bg-info my-2' type="submit">Add Card</button>
            </form>
            
    </div>
    <%- include('../includes/footer')%>
    <%- include('../includes/end')%>